/* フォントの設定 */
body {
    font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgb(115, 115, 114);
    position: relative;
}

/* フォントカラーの設定 */
h1::first-letter {
    color: skyblue; /* "M" の文字色をスカイブルーに設定 */
}

h1::first-line {
    color: pink; /* "P" の文字色をピンクに設定 */
}

h1::before, h1::after {
    content: '';
    display: block;
    height: 3px;
    background-color: rgb(115, 115, 114);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
}

/* その他の装飾 */
body, h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 2em; /* ルート要素のフォントサイズの2倍 */
    text-transform: uppercase; /* テキストを大文字に変換 */
    margin-bottom: 20px;
}
